<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Editar</title>
</head>
<body>
<form method="POST" action="/atualizar/{{ evento.id }}">
    <h2>Editar Evento</h2>
    Nome: <input type="text" name="nome" value="{{ evento.nome }}">

    Data: <input type="date" name="data" value="{{ evento.data }}">

    Local: <input type="text" name="local" value="{{ evento.local }}">

    Descrição: <textarea name="descricao">{{ evento.descricao }}</textarea>

    Organizador: <input type="text" name="organizador" value="{{ evento.organizador }}">
    <div class="buttons">
        <button type="submit">Atualizar</button>
        <button onclick="window.location.href='/index'">Voltar</button>
    </div>
</form>
</body>
</html>